<div class="container comic-sub">
  <div class="row align-items-center">
      <div class="col-4 comic-nav comic-nav-left">
        <a class="color-dark hover-color-vibrant" href="#"><i class="fas fa-angle-double-left"></i> First</a>
        <a class="color-dark hover-color-vibrant" href="#"><i class="fas fa-angle-left"></i> Prev</a>
      </div>
      <div class="col-4 share-links">
        {% include share-links.html %}
      </div>
      <div class="col-4 comic-nav comic-nav-right">
        <a class="color-dark hover-color-vibrant" href="#">Next <i class="fas fa-angle-right"></i></a>
        <a class="color-dark hover-color-vibrant" href="#">Latest <i class="fas fa-angle-double-right"></i></a>
      </div>
  </div>
</div>