    <style type="text/css">
        /* TODO: hooks for running vibrantjs as a plugin */
        .fill-vibrant{
            /* fill: red !important; */
        }
        .fill-dark{
          
        }

        .filter-shadow-vibrant{
          
        }
        .filter-shadow-dark{
          
        }

        .background-color-vibrant{
          
        }
        .background-color-dark{
          
        }

        .color-vibrant{
          
        }
        .color-dark{
          
        }

    </style>