      <div class="container">
        <div class="row">
          <div class="col-3 links">
            <h6>Sections</h6>
            <a href="#">Comics</a>
            <a href="#">Articles</a>
            <a href="#">Videos</a>
            <a href="#">Junk</a>
          </div>
          <div class="col-3 links">
            <h6>Pages</h6>
            <a href="#">About</a>
            <a href="#">Code</a>
            <a href="#">Legal</a>
            <a href="#">License</a>
          </div>
          <div class="col-6 logos align-self-center">
            <span class="site-logo">{% include icon-svg.html %}arrantynowvoid.com</span>
            <a href="https://warrantynowvoid.com/license">
              <i class="fab fa-creative-commons"></i>
              <i class="fab fa-creative-commons-by"></i>
              <i class="fab fa-creative-commons-nc"></i>
            </a>
          </div>
        </div>
        <div class="row lower">
          <div class="col-6 follow-links">
            <h6>Follow Us</h6>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fas fa-rss-square"></i></a>
          </div>
          <div class="col-6 align-self-center" id="license-text">

            {% case page.category %}
              {% when "Comics" %}
                {% assign mediaType = 'rel="dct:type" href="http://purl.org/dc/dcmitype/StillImage"' %}
              {% when "Videos" %}
                {% assign mediaType = 'rel="dct:type" href="http://purl.org/dc/dcmitype/MovingImage"' %}
              {% when "Articles" %}
                {% assign mediaType = 'rel="dct:type" href="http://purl.org/dc/dcmitype/Text"' %}
              {% else %}
                {% assign mediaType = "" %}
            {% endcase %}
              
            <small><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title" {{ mediaType }}>{{ page.title }}</span>{% if page.showAuthor %} by <a xmlns:cc="http://creativecommons.org/ns#" href="https://warrantynowvoid.com" property="cc:attributionName" rel="cc:attributionURL">{{ page.author }}</a>{% endif %} is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>. Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="https://warrantynowvoid.com/license" rel="cc:morePermissions">https://warrantynowvoid.com/license</a>.</small>
          </div>
        </div>
      </div>
