    <meta charset="utf-8">
    <title>{% if title-override %}{{ title-override }} &#8211; {% elsif page.title %}{{ page.title }} &#8211; {% endif %}{% if page.pagination_info.curr_page and page.pagination_info.curr_page > 1 %}page {{ page.pagination_info.curr_page }} &#8211; {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <link rel="icon" sizes="192x192" href="{{ site.url }}/assets/ico/icon-192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/ico/icon-180.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ site.url }}/assets/ico/icon-180.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/ico/icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/ico/icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/ico/icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/ico/icon-57.png">
    <link rel="shortcut icon" href="{{ site.url }}/assets/ico/favicon.ico">
    <link rel="manifest" href="{{ site.url }}/site.webmanifest">
    <link rel="mask-icon" href="{{ site.url }}/assets/ico/icon.svg" color="#400137">
    <meta name="application-name" content="Warranty Now Void" />
    <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="theme-color" content="#400137">

    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
    <link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

    {% include og.html %}

    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

    {% include bootstrap.html %}

    <link href="{{ site.url }}/assets/css/poopguy.css" rel="stylesheet">

    <script type="text/javascript" src="{{ site.url }}/assets/js/retina.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/poopguy.js"></script>
    
    <script type="text/javascript" src="{{ site.url }}/assets/js/common.js"></script>

    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
    (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
            (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
    })(document, window, '//osto.us/fathom/tracker.js', 'fathom');
    fathom('set', 'siteId', 'EKUMN');
    fathom('trackPageview');
    </script>
    <!-- / Fathom -->
