    {% if page.category == "Comics" %}
      <div class="title-background-bar background-color-dark">
        <div class="container title-container">
          <div class="row title-wrap">
            <div class="col-2">
              <input type="checkbox" id="sidebar-display" />
              <label for="sidebar-display">
                <a class="logo-top chunk-shadow fill-vibrant">
                  {% include icon-svg.html %}
                  <i class="far fa-times-circle sidebar-close-button flip-hidden fill-vibrant"></i>
                </a>
              </label>
            </div>
            <div class="col-10 post-details" role="banner">
              <h1 class="title-font"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
              <p class="byline" role="contentinfo">
                <small class="title-font light">
                  {% if page.showAuthor %}Posted by {% if page.author.twitter %}<a href="https://twitter.com/{{ page.author.tiwtter }}" target="_blank">{% endif %}{{ page.author.name }}{% if page.author.twitter %}</a>{% endif %} on {% endif %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %}, updated <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <input type="checkbox" id="sidebar-display" />
      <label for="sidebar-display">
        <a class="logo-top chunk-shadow fill-vibrant">
          {% include icon-svg.html %}
          <i class="far fa-times-circle sidebar-close-button flip-hidden fill-vibrant"></i>
        </a>
      </label>
    {% endif %}

    {% if page.image.headliner %}
      <div class="headliner">
        <img {% twoxify page.image.headliner %} title="{{ page.image.imageHover }}"/>
      </div>
    {% else %}
      {% if page.category != "Comics" %}
        <div class="headliner headliner-empty"></div>
      {% endif %}
    {% endif %}

    {% if page.category != "Comics" %}
      <div class="title-background-bar background-color-dark">
        {% include angle-svg.html %}
        <div class="container title-container">
          <div class="title-wrap">
            <h1 class="title-font" role="banner"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
            <hr />
            <div class="row post-details">
              <div class="col-6">
                <p class="byline" role="contentinfo">
                  <small>
                    Posted{% if page.showAuthor %} by {% if page.author.twitter %}<a href="https://twitter.com/{{ page.author.tiwtter }}" target="_blank">{% endif %}{{ page.author.name }}{% if page.author.twitter %}</a>{% endif %}{% endif %} in {{ page.category }}<br />
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %}, updated <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}
                  </small>
                </p>
              </div>
              <div class="col-6 share-links">
                {% include share-links.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}