            <div class="post-preview">

              {% if post.image.headliner %}
                {% assign postImage = post.image.headliner %}
                {% assign imageType = 'HEADLINER' %}
              {% elsif post.image.thumbnail %}
                {% assign postImage = post.image.thumbnail %}
                {% assign imageType = 'THUMB' %}
              {% else %}
                {% if post.image.feature %}
                  {% assign postImage = post.image.feature %}
                  {% assign imageType = 'AUTO' %}
                  {% if post.image.thumbZone %}
                    {% assign thumbZone = post.image.thumbZone %}
                  {% else %}
                    {% assign thumbZone = '' %}  
                  {% endif %} 
                {% else %}
                  {% assign postImage = 'assets/img/headliner_default.png' %}
                  {% assign imageType = 'DEFAULT' %}
                {% endif %}
              {% endif %}

              <a class="stretched-link" href="{{ site.url }}{{ post.url }}">
                <img {% twoxify postImage %} {% if imageType == 'AUTO' %}class="auto-thumbnail {{ thumbZone }}" {% endif %}/>
              </a>

              <div class="details-holster{% if evenOdd %} {{ evenOdd }}{% endif %} {{ post.category || downcase }}">
                <div>
                  <div class="first-look">
                    <h5 class="title-font"><a class="stretched-link" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
                    <p><span class="badge badge-primary {{ post.category || downcase }}">{{ post.category }}</span> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
                  </div>
                  <p>{{ post.excerpt }}</p>
                </div>
              </div>
            </div>