            <div class="post-preview">

              {% case post.category %}
                {% when "Comics" %}
                  {% assign taghtml = '<span class="badge badge-primary comics">Comic</span> ' %}
                {% when "Articles" %}
                  {% assign taghtml = '<span class="badge badge-primary articles">Article</span> ' %}
                {% when "Videos" %}
                  {% assign taghtml = '<span class="badge badge-primary videos">Video</span> ' %}
                {% when "Junk" %}
                  {% assign taghtml = '<span class="badge badge-primary junk">Junk</span> ' %}
              {% endcase %}

              {% if post.image.headliner %}
                {% assign postImage = post.image.headliner %}
                {% assign imageType = 'HEADLINER' %}
              {% elsif post.image.thumbnail %}
                {% assign postImage = post.image.thumbnail %}
                {% assign imageType = 'THUMB' %}
              {% else %}
                {% if post.image.feature %}
                  {% assign postImage = post.image.feature %}
                  {% assign imageType = 'AUTO' %}
                {% else %}
                  {% assign postImage = '/assets/img/headliner_default.png' %}
                  {% assign imageType = 'DEFAULT' %}
                {% endif %}
              {% endif %}

              {% assign retinaImage = postImage | split: "" | reverse | join: "" | replace_first: '.', '.x2@' | split: "" | reverse | join: "" %}

              <a class="stretched-link" href="{{ site.url }}{{ post.url }}">
                <img src="{{ postImage }}" srcset="{{ retinaImage }}" {% if imageType == 'AUTO' %}class="auto-thumbnail" {% endif %}/>
              </a>

              <div class="details-holster{% if evenOdd %} {{ evenOdd }}{% endif %}">
                <div>
                  <div class="first-look">
                    <h5><a class="stretched-link" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
                    <p>{{ taghtml }}<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
                  </div>
                  <p>{{ post.tagline }}</p>
                </div>
              </div>
            </div>