                <a class="share-link color-dark hover-color-vibrant" href="#"><i class="fab fa-twitter"></i></a>
                <a class="share-link color-dark hover-color-vibrant" href="#"><i class="fab fa-reddit"></i></a>
                <a class="share-link color-dark hover-color-vibrant" href="#"><i class="fab fa-facebook"></i></a>
                <a class="share-link color-dark hover-color-vibrant" href="#"><i class="fab fa-tumblr"></i></a>
                <a class="share-link color-dark hover-color-vibrant" href="#"><i class="fas fa-share"></i></a>