    <div class="sidebar">
      <div class="sidebar-sticky">

        <div class="sidebar-bg-animation-container">
          <div class="sliding-background"></div>
        </div>

        <nav class="sidebar-content">
          <div class="logo">
            <a href="{{ site.url }}">
              {% include icon-svg.html %}
            </a>
          </div>

          <ul class="sections">
            <li>
              <a href="{{ site.url }}/articles/" class="articles">
                <span class="label">Articles</span>
                <i class="fas fa-fw fa-book default-icon"></i>
                <i class="fas fa-fw fa-book-dead hover-icon"></i>
              </a>
            </li>
            <li>
              <a href="{{ site.url }}/comics/" class="comics">
                <span class="label">Comics</span>
                <i class="fas fa-fw fa-pencil-ruler default-icon"></i>
                <i class="fas fa-fw fa-poo hover-icon"></i>
              </a>
            </li>
            <li>
              <a href="{{ site.url }}/videos/" class="videos">
                <span class="label">Videos</span>
                <i class="fas fa-fw fa-video default-icon"></i>
                <i class="fas fa-fw fa-toilet hover-icon"></i>
              </a>
            </li>
            <li>
              <a href="{{ site.url }}/junk/" class="junk">
                <span class="label">Junk</span>
                <i class="fas fa-fw fa-dumpster default-icon"></i>
                <i class="fas fa-fw fa-dumpster-fire hover-icon"></i>
              </a>
            </li>
          </ul>
          <ul class="pages">
            <li>
              <a href="{{ site.url }}/about">
                <span class="label">About</span>
                <i class="fas fa-fw fa-user-circle default-icon"></i>
              </a>
            </li>
            <li>
              <a href="#" class="thePoopButton">
                <span class="label">Poop Button</span>
                <i class="fas fa-fw fa-poo-storm default-icon"></i>
              </a>
            </li>
            <li>
              <a href="{{ site.url }}/code">
                <span class="label">Code</span>
                <i class="fas fa-fw fa-code default-icon"></i>
              </a>
            </li>
            <li>
              <a href="{{ site.url }}/legal">
                <span class="label">Privacy/Terms</span>
                <i class="fas fa-fw fa-user-secret default-icon"></i>
              </a>
            </li>
            <li>
              <a href="{{ site.url }}/licenses">
                <span class="label">License</span>
                <i class="fab fa-fw fa-creative-commons default-icon"></i>
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>