<style type="text/css" nonce="EDNnf03nceIOfn39fn3e8h4sdfc">
    .fill-vibrant path{ fill: {{ rgbVibrant }} !important; }
    .fill-dark path{ fill: {{ rgbDarkVibrant }} !important; }
    .filter-shadow-vibrant svg.wnv-icon{ filter: drop-shadow(2px 2px 0px {{ rgbVibrant }}) !important; }
    .filter-shadow-dark svg.wnv-icon{ filter: drop-shadow(2px 2px 0px {{ rgbDarkVibrant }}) !important; }
    .chunk-shadow svg{ filter: drop-shadow(-1px 0px 0px {{ rgbMuted }}) drop-shadow(-2px 0px 0px {{ rgbMuted }}) drop-shadow(-3px 0px 0px {{ rgbMuted }}) !important; }
    .background-color-vibrant{ background-color: {{ rgbVibrant }} !important; }
    .background-color-dark{ background-color: {{ rgbDarkVibrant }} !important; }
    .background-color-muted{ background-color: {{ rgbMuted }} !important; }
    .color-vibrant{ color: {{ rgbVibrant }} !important; }
    .color-dark{ color: {{ rgbDarkVibrant }} !important; }
    .color-muted{ color: {{ rgbMuted }} !important; }
    .hover-color-vibrant:hover{ color: {{ rgbVibrant }} !important; }
    .hover-color-dark:hover{ color: {{ rgbDarkVibrant }} !important; }
    .hover-color-muted:hover{ color: {{ rgbMuted }} !important; }
    .hover-fill-vibrant:hover path{ fill: {{ rgbVibrant }} !important; }
    .hover-fill-dark:hover path{ fill: {{ rgbDarkVibrant }} !important; }
    .hover-fill-muted:hover path{ fill: {{ rgbMuted }} !important; }
    .hover-background-vibrant:hover{ background-color: {{ rgbVibrant }} !important; }
    .hover-background-dark:hover{ background-color: {{ rgbDarkVibrant }} !important; }
    .hover-background-muted:hover{ background-color: {{ rgbMuted }} !important; }

    @media (prefers-color-scheme: dark) {
        .comic-nav > .color-dark{ color: {{ rgbVibrant }} !important; }
        .comic-nav > .hover-color-vibrant:hover{ color: {{ rgbMuted }} !important; }
        .share-link.color-dark{ color: {{ rgbVibrant }} !important; }
        .share-link.hover-color-vibrant:hover{ color: {{ rgbMuted }} !important; }
    }
</style>
