@import "_retina";

$logo-height : 115px;
$post-max-width: 900px;

$bs-break-sm: 576px;
$bs-break-md: 768px;
$bs-break-lg: 992px;
$bs-break-xl: 1200px;

html{ 
  width:100%; 
  height:100%; 
  margin:0;  
  
  body{
    width:100%; 
    height:100%; 
    font-family: "Bitter", "Georgia", serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
  }
}

svg#wnv-logo{
  position: relative;
  top: 20px;
  left: 20px;
  height: $logo-height;

  .chunk{
    fill: #888;
  }
}

// bootstrap, wth?
blockquote{
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;

  p{
    margin-bottom: 0;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25;
  }
}

footer{
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: #fff;
  background-color: #111;

  .logos{
    font-size: 22px;
    text-align: right;

    a{
      color: #c0c0c0;
    }
  }

  #wnv-icon{
    height: 30px;

    .chunk{
      fill: #fff;
    }
  }
}