@import "_retina";

html { 
  width:100%; 
  height:100%; 
  margin:0;  
  
  body{
    font-family: "linden-hill", "Georgia", serif;
    font-size: 20px;
    color: #333;
    text-shadow: 1px 1px 1px #c0c0c0;
  }
}