$logo-height: 125px;

$sidebar-width: 250px;

$bs-break-sm: 576px;
$bs-break-md: 768px;
$bs-break-lg: 992px;
$bs-break-xl: 1200px;

/* famous colors */
$comics-color: rgba(39,147,242, 1);
$articles-color: rgba(75,191,83, 1);
$videos-color: rgba(255,140,90, 1);
$junk-color: rgba(106,57,217, 1);
$generic-color: rgba(64, 1, 55, 1);

$dark-mode-bg-color: #0a0e14;