@import "sidebar";

input#sidebar-display{
  display: none;
}

label[for="sidebar-display"]{
  margin: 0;
}

// sigh, one day: https://caniuse.com/#feat=css-has

// section.main-content:has(#sidebar-display:checked){
//   transform: translate3d($sidebar-width, 0, 0);
// }

// .sidebar:has(label#sidebar-display:checked){
//   margin-left: 0px;
// }

div.sidebar.sidebar-active{
  margin-left: 0px;
}

section.main-content.sidebar-active{
  transform: translate3d($sidebar-width, 0, 0);
}

.sidebar{
  margin-left: -$sidebar-width;
  transition: all 200ms ease-in;
}

section.main-content{
  overflow: hidden;
  transition: all 200ms ease-in;
}