@import "sidebar";

input#sidebar-display{
  display: none;
}

label[for="sidebar-display"]{
  margin: 0;
}


.logo-top{
  svg{
    transition: all 250ms ease-in-out;
  }

  svg.sidebar-close-button{
    font-size: $logo-height - ($logo-height * 0.27);
    color: #fff;
    position: absolute;
    top: 20px;
    left: 50px;
    transition: all 300ms ease-in-out;
  }

  &:hover{
    cursor: pointer;

    svg.wnv-icon{
      transform: perspective(200px) rotateY(20deg);
    }

    svg.sidebar-close-button{
      color: #111;
    }
  }
}

.flip-away{
  transform: perspective(200px) rotateY(90deg) !important;
}

.flip-hidden{
  transform: perspective(200px) rotateY(-90deg);
}

// sigh, one day: https://caniuse.com/#feat=css-has

// div.page-wrapper:has(#sidebar-display:checked){
//   transform: translate3d($sidebar-width, 0, 0);
// }

// .sidebar:has(label#sidebar-display:checked){
//   margin-left: 0px;
// }

div.sidebar.sidebar-active{
  margin-left: 0px;
}

div.page-wrapper.sidebar-active{
  transform: translate3d($sidebar-width, 0, 0);
}

.sidebar{
  margin-left: -$sidebar-width;
  transition: all 200ms ease-in;
}

div.page-wrapper{
  overflow: hidden;
  transition: all 200ms ease-in;
}