.headliner{
  margin-top: -$logo-height;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 500px;
  position: relative;

  &.headliner-empty{
    height: $logo-height;
  }

  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

body{
  &.comics{
    .logo-top{
      svg{ 
        filter: drop-shadow(-1px 0px 0px lighten($comics-color, 20%)) drop-shadow(-2px 0px 0px lighten($comics-color, 20%)) drop-shadow(-3px 0px 0px lighten($comics-color, 20%));

        .chunk{ 
          fill: darken($comics-color, 30%);
        }
      }
    }

    .title-background-bar{
        background-color: $comics-color;
    }

    .headliner-empty{
      background-color: lighten($comics-color, 10%);
    }

    .post-after{
      .wrap{
        &.tags{
          background-color: lighten($comics-color, 10%);

          .tag{
            &:hover{
              color: darken($comics-color, 10%);
            }
          }
        }

        &.related{
          background-color: darken($comics-color, 33%);
        }
      }
    }
  }

  &.articles{
    .logo-top{
      svg{ 
        filter: drop-shadow(-1px 0px 0px lighten($articles-color, 20%)) drop-shadow(-2px 0px 0px lighten($articles-color, 20%)) drop-shadow(-3px 0px 0px lighten($articles-color, 20%));

        .chunk{ 
          fill: darken($articles-color, 30%);
        }
      }
    }

    .title-background-bar{
      background-color: $articles-color;
    }

    .headliner-empty{
      background-color: lighten($articles-color, 10%);
    }

    .post-after{
      .wrap{
        &.tags{
          background-color: lighten($articles-color, 10%);

          .tag{
            &:hover{
              color: darken($articles-color, 10%);
            }
          }
        }

        &.related{
          background-color: darken($articles-color, 33%);
        }
      }
    }
  }

  &.videos{
    .logo-top{
      svg{ 
        filter: drop-shadow(-1px 0px 0px lighten($videos-color, 20%)) drop-shadow(-2px 0px 0px lighten($videos-color, 20%)) drop-shadow(-3px 0px 0px lighten($videos-color, 20%));

        .chunk{ 
          fill: darken($videos-color, 30%);
        }
      }
    }

    .title-background-bar{
      background-color: $videos-color;
    }

    .headliner-empty{
      background-color: lighten($videos-color, 10%);
    }

    .post-after{
      .wrap{
        &.tags{
          background-color: lighten($videos-color, 10%);

          .tag{
            &:hover{
              color: darken($videos-color, 10%);
            }
          }
        }

        &.related{
          background-color: darken($videos-color, 33%);
        }
      }
    }
  }

  &.junk{
    .logo-top{
      svg{ 
        filter: drop-shadow(-1px 0px 0px lighten($junk-color, 20%)) drop-shadow(-2px 0px 0px lighten($junk-color, 20%)) drop-shadow(-3px 0px 0px lighten($junk-color, 20%));

        .chunk{ 
          fill: darken($junk-color, 30%);
        }
      }
    }

    .title-background-bar{
      background-color: $junk-color;
    }

    .headliner-empty{
      background-color: lighten($junk-color, 10%);
    }

    .post-after{
      .wrap{
        &.tags{
          background-color: lighten($junk-color, 10%);

          .tag{
            &:hover{
              color: darken($junk-color, 10%);
            }
          }
        }

        &.related{
          background-color: darken($junk-color, 33%);
        }
      }
    }
  }

  .content-wrap{
    margin-top: 20px;
    margin-bottom: 50px;

    img{
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }

    iframe{
      display:block;
      margin: 0 auto;
    }
  }
}

.feature{
  display: block;
  width: 800px;
}

.logo-top{
  position: relative;
  display: block;
  z-index: 2;
}

.title-background-bar{
  width: 100%;
  margin: 0;
  position: relative;

  .title-wrap{
    padding: 10px 0 50px 0px;

    .post-details{
      color: #fff;

      .share-links{
        
        a.share-link{
          color: #fff !important;

          &:hover{
            color: #111 !important;
          }
        }
      }
    }

    h1{
      margin-bottom: 0px;
      text-shadow: 1px 1px 1px #111;
      font-size: 48px;

      a{
        color: #fff;
      }
    }

    hr{
      border-color: #c0c0c0;
    }
  }
    
  svg.angle-border-mask{
    fill: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
  }
}

.share-links{
  text-align: right;
  font-size: 30px;

  a.share-link{
    margin-left: 5px;
    transition-property: color;
    transition-duration: 0.3s;
    cursor: pointer;
  }
}

.post-after{
  color: #fff;

  a{
    color: #fff;
  }

  .wrap{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    h4{
      font-size: 18px;
      text-shadow: 1px 1px 1px #111;

      @media (min-width: $bs-break-sm) {
        font-size: 20px;
      }
      @media (min-width: $bs-break-md) {
        font-size: 26px;
      }
    }

    &.tags{
      min-height: 50px;
      background-color: #333;

      .tag{
        color: #333;
        background-color: #fff;
        margin: 4px 2px;
        font-size: 14px;
        font-weight: normal;
      }
    }

    &.related{
      background-color: #222;
    }
  }
}