.headliner{
  margin-top: -$logo-height;
  margin-bottom: 0;
  width:100%;
  overflow:hidden;
  max-height: 500px;

  img{
    width:100%;
  }
}

article.post{

  .content-wrap{
    margin-top: 20px;
    margin-bottom: 20px;

    img{
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.feature{
  display: block;
  width: 800px;
}

.title-background-bar{
  width: 100%;
  margin: 0;
  background-color: #333;

  .title-wrap{
    padding: 10px 0;

    .post-details{
      color: #fff;
    }

    h1{
      margin-bottom: 0px;      

      a{
        color: #fff;
      }
    }

    hr{
      border-color: #c0c0c0;
    }
  }
}

.share-links{
  text-align: right;
  font-size: 30px;

  a.share-link{
    margin-left: 5px;
    color: #fff;
  }
}

.post-content{
  color: #fff;

  a{
    color: #fff;
  }

  .wrap{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    h4{
      font-size: 18px;

      @media (min-width: $bs-break-sm){
        font-size: 20px;
      }
      @media (min-width: $bs-break-md){
        font-size: 26px;
      }
    }

    &.tags{
      min-height: 50px;
      background-color: #333;

      .tag{
        color: #333;
        background-color: #fff;
        margin: 4px 2px;
        font-size: 14px;
        font-weight: normal;

        &:hover{
          background-color: #333;
        }
      }
    }

    &.related{
      background-color: #222;

      .related-post{
        width: 400px;
        display: block;
        margin: 25px;
        float: left;
        position: relative;

        img{
          max-width: 100%;
          z-index:2;
        }

        .thumb-holster{
          width: 400px;
          height: 225px;
          overflow: hidden;
          position:relative;

          img.auto-thumbnail{
            width: 800px;
            margin: 0px;
            margin-left: -40%;
            margin-top: -10%;
            max-width: none;
          }
        }

        .details-holster{
          width: 400px;
          height: 100px;
          padding: 10px;
          background-color: rgba(0,0,0,0.7);
          position: absolute;
          top: 125px;
          left: 0;
          z-index: 1;

          h5{
            text-shadow: 1px 1px 2px #000;
          }

          p{
            text-shadow: 1px 1px 2px #000;

            .badge {
              text-shadow: none;
            }
          }
        }
      }
    }
  }
}