.headliner{
  margin-top: -$logo-height;
  width:100%;
  overflow:hidden;
  max-height: 500px;

  img{
    width:100%;
  }
}

article.post{
  margin-top: 50px;
  margin-bottom: 20px;

  p.byline{
    
  }

  .content-wrap{
    img{
      display: block;
      max-width: 100%;
    }
  }
}

.feature{
  display: block;

}