---
sitemap: false
---

@import "common";
@import "post";
@import "hidden-sidebar";

.title-background-bar{
  margin: 10px 0 20px 0;

  .title-wrap{
    padding: 0;

    @media (min-width: $bs-break-sm) {
      height: ($logo-height * 0.5) - (($logo-height * 0.5) * 0.275);
    }

    @media (min-width: $bs-break-md) {
      height: ($logo-height * 0.6) - (($logo-height * 0.6) * 0.275);
    }

    @media (min-width: $bs-break-lg) {
      height: ($logo-height * 0.9) - (($logo-height * 0.9) * 0.275);
    }

    @media (min-width: $bs-break-xl) {
      height: $logo-height - ($logo-height * 0.275);
    }

    .col-2{
      padding-left: 0px;

      @media (max-width: $bs-break-sm) {
        text-align: right;
        flex: none;
        max-width: none;
      }
    }

    .col-10{
      @media (max-width: $bs-break-sm) {
        flex: none;
        max-width: none;
      }
    }

    .logo-top{

      svg.wnv-icon{
        top: 0;
        left: 0;

        @media (min-width: $bs-break-sm) {
          height: $logo-height * 0.5;
        }

        @media (min-width: $bs-break-md) {
          height: $logo-height * 0.6;
        }

        @media (min-width: $bs-break-lg) {
          height: $logo-height * 0.9;
        }

        @media (min-width: $bs-break-xl) {
          height: $logo-height;
        }
      }

      svg.sidebar-close-button{
        top: 0px;

        @media (min-width: $bs-break-sm) {
          font-size: ($logo-height * 0.5) - (($logo-height * 0.5) * 0.275);
          left: 15px;
        }

        @media (min-width: $bs-break-md) {
          font-size: ($logo-height * 0.6) - (($logo-height * 0.6) * 0.275);
          left: 20px;
        }

        @media (min-width: $bs-break-lg) {
          font-size: ($logo-height * 0.9) - (($logo-height * 0.9) * 0.275);
          left: 30px;
        }

        @media (min-width: $bs-break-xl) {
          font-size: $logo-height - ($logo-height * 0.275);
          left: 40px;
        }
      }
    }

    h1{
      font-size: 40px;

      @media (min-width: $bs-break-sm) {
        font-size: 20px;
      }

      @media (min-width: $bs-break-md) {
        font-size: 28px;
      }

      @media (min-width: $bs-break-lg) {
        font-size: 40px;
      }

      @media (min-width: $bs-break-xl) {
        font-size: 50px;
      }
    }

    p.byline{
      margin-bottom: 5px;
      text-shadow: 1px 1px 1px #111;
    }
  }
}

article.post{

  .content-wrap{
    margin-top: 35px;
    min-width: 800px;
  }
}

.comic-sub{
  font-size: 28px;
  margin-top: -20px;
  margin-bottom: 20px;
  width: 800px;

  a{
    color: #333;

    &:hover{
      text-decoration: none;
      transition-property: color;
      transition-duration: 0.3s;
      color: #c0c0c0;
    }
  }

  .comic-nav{
    a{
      margin-right: 5px;
      transition-property: color;
      transition-duration: 0.3s;
    }

    &.comic-nav-right{
      text-align: right;
    }
  }

  .share-links{
    text-align: center;
    font-size: 35px;
  }
}