---
sitemap: false
---

@import "common";
@import "post";
@import "hidden-sidebar";

.title-background-bar{
  margin: 10px 0 20px 0;

  .title-wrap{
    padding: 0;

    @media (min-width: $bs-break-sm) {
      height: ($logo-height * 0.5) - (($logo-height * 0.5) * 0.24);
    }

    @media (min-width: $bs-break-md) {
      height: ($logo-height * 0.6) - (($logo-height * 0.6) * 0.25);
    }

    @media (min-width: $bs-break-lg) {
      height: ($logo-height * 0.9) - (($logo-height * 0.9) * 0.27);
    }

    @media (min-width: $bs-break-xl) {
      height: $logo-height - ($logo-height * 0.27);
    }

    .col-2{
      padding-left: 0px;

      @media (max-width: $bs-break-sm) {
        text-align: right;
        flex: none;
        max-width: none;
      }
    }

    .col-10{
      @media (max-width: $bs-break-sm) {
        flex: none;
        max-width: none;
      }
    }

    .logo-top svg{
      top: 0;
      left: 0;

      @media (min-width: $bs-break-sm) {
        height: $logo-height * 0.5;
        top: -4px;
      }

      @media (min-width: $bs-break-md) {
        height: $logo-height * 0.6;
        top: -4px;
      }

      @media (min-width: $bs-break-lg) {
        height: $logo-height * 0.9;
        top: -6px;
      }

      @media (min-width: $bs-break-xl) {
        height: $logo-height;
        top: -6px;
      }
    }

    h1{
      font-size: 40px;

      @media (min-width: $bs-break-sm) {
        font-size: 20px;
      }

      @media (min-width: $bs-break-md) {
        font-size: 28px;
      }

      @media (min-width: $bs-break-lg) {
        font-size: 40px;
      }

      @media (min-width: $bs-break-xl) {
        font-size: 50px;
      }
    }

    p.byline{
      margin-bottom: 5px;
    }
  }
}

article.post{

  .content-wrap{
    margin-top: 35px;
    min-width: 800px;
  }

  .comic-sub{
    font-size: 28px;
    margin-top:10px;
    max-width: 800px;

    a{
      color: #333;

      &:hover{
        text-decoration: none;
        transition-property: color;
        transition-duration: 0.3s;
        color: #c0c0c0;
      }
    }

    .comic-nav{
      a{
        margin-right: 5px;
      }

      &.comic-nav-right{
        text-align: right;
      }
    }

    .share-links{
      text-align: center;
      font-size: 35px;
    }
  }
}