---
sitemap: false
---
@import "global-variables";

#adventure{
  width: 100%;
  height: 800px;
  padding-bottom: 90%;
  display: none;

  .failure{
    padding-top: 100px;
    font-size: 128px;

    p{
      margin-top: 10px;
      font-size: 32px;
    }
  }

  .spinner-border{
    margin-top: 200px;
    width: 200px;
    height: 200px;
  }

  .carousel{
    height: 800px;

    &.respawning{
      .carousel-item{
        transition: -webkit-transform .15s ease-in-out;
        transition: transform .15s ease-in-out;
        transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out;
      }
    }

    .carousel-item{
      height: 800px;

      .spinner-border{
        position: absolute;
        left: 50%;
        margin-left: -100px;

        &.colorful{
          border-top-color: $comics-color;
          border-right-color: $articles-color;
          border-bottom-color: $videos-color;
          border-left-color: $junk-color;
        }

        &.thicc{
          border-width: 2em;
        }
      }

      .carousel-caption{
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background: rgba(16, 16, 16, 0.9);

        ul.action-list{
          list-style-type: none;
          padding-left: 0;

          li{
            margin-top: 5px;
          }
        }
      }
    }
  }
}

#collapsibleCredits{
  img{
    margin: 0;
  }

  .card{
    display: block;
  }

  .stockSiteCredit{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
    margin: 2px;

    svg{
      height: 12px;
      width: auto;
      position: relative;
      vertical-align: middle;
      top: -2px;
      fill: white;
    }

    span{
      display: inline-block;
      padding: 2px 3px;
    }
  }

  .flickrCredit{
    margin-top: 10px; 
    font-size: 0.9rem;
    font-style: italic;

    .cc{
      margin-right: 5px;
    }

    .ccLink{
      display: inline-block;
      white-space: none;
      opacity: .7;
      margin-top: 2px;
      margin-left: 3px;
      height: 22px !important;
    }

    img{
      height: inherit;
      margin-right: 3px;
      display: inline-block;
    }
  }
}