<!doctype html>
<html>
  <head>

    {% include head.html %}

    <link rel="stylesheet" href="{{ site.url }}/assets/css/home.css">

  </head>

  <body>
    <main>

      {% include sidebar.html %}
      
      {% if paginator.page == 1 %}
      <section class="newest-feature clearfix">
        <div id="featured-posts">
          {% case page.autopages.display_name %}
            {% when 'Comics' %}
              {% assign featured-posts = site.featured_posts | slice:1, 1 %}
            {% when 'Articles' %}
              {% assign featured-posts = site.featured_posts | slice:2, 1 %}
            {% when 'Videos' %}
              {% assign featured-posts = site.featured_posts | slice:3, 1 %}
            {% when 'Junk' %}
              {% assign featured-posts = site.featured_posts | slice:4, 1 %}
          {% endcase %}
          {% include post-feature.html %}
          {% include angle-svg.html %}
        </div>
      </section>
      {% endif %}

      <section class="page-wrapper posts-list clearfix">
      
        <h1 class="{% if paginator.page > 1 %}page-header{% endif %}">{{ page.autopages.display_name }} 
          {% if paginator.page > 1 %}
          <small class="text-muted">Page {{ paginator.page }}</small>
          {% endif %}
        </h1>

        <div class="previews-container">
          {% for post in paginator.posts %}
            {% capture evenOdd %}
                {% cycle 'odd', 'even' %}
            {% endcapture %}
            {% include post-preview.html %}
          {% endfor %}
        </div>

      </section>

      {% include pager-buttons.html %}

      <footer>
        {% include footer.html %}
      </footer>
      
    </main>
  </body>

</html>
