<!doctype html>
<html>
  <head>

    {% include head.html %}

    <link rel="stylesheet" href="{{ site.url }}/assets/css/home.css">

  </head>

  <body>
    <main>

      {% include sidebar.html %}
      <section class="page-wrapper posts-list clearfix">
      
        <h1 class="page-header">Posts Tagged With <a href="#" class="badge badge-primary"><i class="fas fa-tag"></i> {{ page.autopages.display_name }}</a><br />
          {% if paginator.page > 1 %}
            <small class="text-muted">Page {{ paginator.page }}</small>
            {% endif %}
        </h1>

        <div class="previews-container">
          {% for post in paginator.posts %}
            {% capture evenOdd %}
                {% cycle 'odd', 'even' %}
            {% endcapture %}
            {% include post-preview.html %}
          {% endfor %}
        </div>

      </section>

      {% include pager-buttons.html %}

      <footer>
        {% include footer.html %}
      </footer>
      
    </main>
  </body>

</html>
