<!doctype html>
<html>
  <head>

    {% include head.html %}

    <link rel="stylesheet" href="{{ site.url }}/assets/css/home.css">

  </head>

  <body>
    <main>

      {% include sidebar.html %}

      <section class="main-content posts-list clearfix">
      
        <h1>Recent Posts</h1>

        {% for post in site.posts limit:20 %}    
          {% include post-preview.html %}
        {% endfor %}

      </section>

      <footer>
        {% include footer.html %}
      </footer>
      
    </main>
  </body>

</html>
