<!doctype html>
<html>
  <head>

    {% include head.html %}

    <link rel="stylesheet" href="{{ site.url }}/assets/css/home.css">

  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-md-3 sidebar">
          <div class="sidebar-sticky">

            <div class="sidebar-bg-animation-container">
              <div class="sliding-background"></div>
            </div>

            <div class="sidebar-content">
              <ul>
                <li>hello</li>
                <li>hello</li>
                <li>hello</li>
                <li>hello</li>
              </ul>
            </div>

          </div>
        </div>

        <main role="main" class="col-md-9 ml-sm-auto">
          
          <h1>Posts</h1>

          {% for post in site.posts %}    
            {% include post-preview.html %}
          {% endfor %}

      </div>

    </div>

    <footer>
      {% include footer.html %}
    </footer>
  </body>

</html>
