<!doctype html>
<html>
  <head>

    {% include head.html %}

    {% case page.category %}
      {% when "Comics" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/comic.css">
      {% when "Articles" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/article.css">
      {% when "Videos" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/video.css">
      {% when "Junk" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/junk.css">
    {% endcase %}

    {% if page.custom_styles %}
      <link rel="stylesheet" href="{{ site.url }}{{ page.custom_styles }}">
    {% endif %}

    {% if page.custom_scripts %}
      <script src="{{ site.url }}{{ page.custom_scripts }}"></script>
    {% endif %}

    {% include content-aware-colors.html %}

  </head>

  <body class="{{ page.category | downcase }}">
    {% include sidebar.html %}
    <div class="page-wrapper">
      <main>
        <article class="post">
          {% include post-header.html %}

          <div class="container content-wrap">
            {% if page.image.feature %}
              {% assign retinaFeature = page.image.feature | split: "" | reverse | join: "" | replace_first: '.', '.x2@' | split: "" | reverse | join: "" %}
              <img class="feature" src="{{ page.image.feature }}" srcset="{{ retinaFeature }} 2x" title="{{ page.image.imageHover }}" />
            {% endif %}

            {{ content }}        
          </div>
        </article>
      </main>      

      <div class="post-after">
        {% if page.category == "Comics" %}
          {% include comic-nav.html %}
        {% endif %}
        <div class="wrap tags background-color-vibrant">
          <aside class="container" role="complementary" aria-labelledby="tags-title">
            <div class="row">
              <div class="col-1">
                <h4 id="tags-title">Tags</h4>
              </div>
              <div class="col-11">
                {% for tag in page.tags %}
                  <a href="#" class="tag badge badge-primary color-dark hover-background-muted hover-color-vibrant"><i class="fas fa-tag"></i> {{ tag }}</a>
                {% endfor %}
              </div>
            </div>
          </aside>
        </div>
        <div class="wrap related background-color-dark">
          <aside class="container clearfix" role="complementary" aria-labelledby="related-title">
            <h4 id="related-title">Related Posts</h4>
            {% for post in site.posts limit:6 %}
              
              {% include post-preview.html %}

            {% endfor %}
          </aside>
        </div>
      </div>

      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>