<!doctype html>
<html>
  <head>

    {% include head.html %}

    {% case page.category %}
      {% when "Comics" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/comic.css">
      {% when "Articles" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/article.css">
      {% when "Videos" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/video.css">
      {% when "Junk" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/junk.css">
    {% endcase %}

    {% if page.custom_styles %}
      <link rel="stylesheet" href="{{ site.url }}{{ page.custom_styles }}">
    {% endif %}

    {% if page.custom_scripts %}
      <script src="{{ site.url }}{{ page.custom_scripts }}"></script>
    {% endif %}

  </head>

  <body>

    {% include page_header.html %}

    <article class="post">
      <div class="article-wrap">
        {% if page.image.feature %}
          <img class="feature" src="{{ page.image.feature }}" title="{{ page.image.imageHover }}" />
        {% else %}
          <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
          {{ content }}
        {% endif %}
        <h3>Tags</h3>
        <ul>
          {% for tag in page.tags %} 
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
        <hr />
        <footer role="contentinfo">
          <p class="byline"><strong>{{ page.title }}</strong> was published by {{ page.author }} under {{ page.category }} on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
        </footer>
      </div>
    </article>

    <footer>
    </footer>
  </body>
</html>