<!doctype html>
<html>
  <head>

    {% include head.html %}

    {% case page.category %}
      {% when "Comics" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/comic.css">
      {% when "Articles" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/article.css">
      {% when "Videos" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/video.css">
      {% when "Junk" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/junk.css">
    {% endcase %}

    {% if page.custom_styles %}
      <link rel="stylesheet" href="{{ site.url }}{{ page.custom_styles }}">
    {% endif %}

    {% if page.custom_scripts %}
      <script src="{{ site.url }}{{ page.custom_scripts }}"></script>
    {% endif %}

  </head>

  <body>

    {% include page_header.html %}

    <div class="container">
    <article class="post">
      {% if page.category != "Comics" %}
        <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="byline" role="contentinfo"><small>posted by {{ page.author }} in {{ page.category }} on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}</small></p>
        <hr />
      {% endif %}

      {% if page.image.feature %}
        <img class="feature mx-auto" src="{{ page.image.feature }}" title="{{ page.image.imageHover }}" />
      {% endif %}

      {% if page.category == "Comics" %}
        {% include comic-nav.html %}
      {% endif %}

      <div class="content-wrap">
        {{ content }}
      </div>

      <h3>Tags</h3>
      <ul id="tags">
        {% for tag in page.tags %} 
          <li>{{ tag }}</li>
        {% endfor %}
      </ul>
    </article>
    </div>

    <footer>
    </footer>
  </body>
</html>